<section id="about" class="profile-section">
  <div class="container-lg">
    <div class="row align-items-center" data-aos="fade-up">

      <div class="col-md-4 text-center mb-4 mb-md-0">
        <div class="profile-image-wrapper" data-aos="zoom-in" data-aos-delay="200">
          <!-- <img
            src="https://via.placeholder.com/300?text=Profile+Photo"
            alt="Profile"
            class="profile-image"
          /> -->
          <img src="assets/img/portfolio/profile.png" alt="Profile" class="profile-image">

          <div class="profile-badge">IWU</div>
        </div>
      </div>

      
      <div class="col-md-8">
        <h2 class="section-title" data-aos="fade-up">About Me</h2>
        <p class="profile-bio">
          I am currently pursuing a Master of Science in Artificial Intelligence and Data Analytics, building a strong foundation in emerging technologies, data-driven decision-making, and analytical problem-solving. As an aspiring Business Data Analytics, I am eager to apply my academic knowledge in real-world settings. My aspiration is to develop a successful career in AI and Data Analytics, continuously learn new technologies, and contribute meaningful insights and innovative solutions to organizations/ society.
        </p>
      </div>
    
    </div>
  </div>
</section>
