<section id="activities" class="activities-section">
  <div class="container-lg">
    <h2 class="section-title" data-aos="fade-up">Activities & Achievements</h2>
    <div class="timeline">
      <div
        class="timeline-item"
        *ngFor="let a of activities; let i = index"
        [attr.data-aos]="'fade-up'"
        [attr.data-aos-delay]="i * 100"
      >
        <div class="marker">{{ a.icon }}</div>
        <div class="content">
          <h3>{{ a.title }}</h3>
          <p>{{ a.description }}</p>
          <small>{{ a.date }}</small>
        </div>
      </div>
    </div>
  </div>
</section>
